p {
    color: green
}

#titol {
    text-decoration: underline;
    font-size: 50px;
}

.text-important {
    font-weight: bold;
    color: red;
}

.vermell {
    color: red;
}

.verd {
    color: green;
}

.blau {
    color: blue;
}

.gran {
    font-size: 24px;
}

.negreta {
    font-weight: bold;
}

.subrallat {
    text-decoration: underline;
}

a:hover {
    color: red
}

p::after {
    content: "✔";
    color: green;
}

p::before {
    content: "👉";
    color: blue;
}